@model MyFramework.Project.MvcUI.Models.ProductListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 

        @foreach (var item in Model.Products)
        {
            <b>@item.Name</b>
        }
            <hr />

        @foreach (var item in (ViewBag.Users as IEnumerable<MyFramework.Project.Entities.Concrete.User>))
        {
           <p>@item.Name</p>
        }
    </div>
</body>
</html>
